.translate-result {}


@media screen and (min-width: 380px) and (max-width: 600px) {
    .translate-result {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        max-height: 250px;
        width: 380px;
        overflow: auto;
        scrollbar-width: thin;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .translate-result {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        max-height: 350px;
        width: 400px;
        overflow: auto;
        scrollbar-width: thin;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .translate-result {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        max-height: 600px;
        width: 600px;
        overflow: auto;
        scrollbar-width: thin;
    }
}

@media screen and (min-width: 1200px) {
    .translate-result {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        max-height: 600px;
        width: 745px;
        overflow: auto;
        scrollbar-width: thin;
    }
}