@use "../styles/variables/variables.scss" as c;

.dictionary-container {
    position: relative;


    &__error {
        visibility: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 40px;
        opacity: 0;
    }

    &__error--open {
        visibility: visible;
        opacity: 1;
        transition: all 0.2s linear;
    }

    &__error--close {
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s linear;
    }

    &__error-text {
        font-family: c.$fontBold;
        font-size: 20px;
        padding: 10px 15px;
        background-color: c.$red;
        color: c.$white;
        border-radius: 15px;

    }

    &__text-input {
        border: 3px solid indianred;
        font-family: c.$fontBold;
    }

    &__form-btn {
        font-family: c.$fontBold;
        height: 40px;
        background-color: c.$green;
        color: c.$white;
        border-radius: 15px;
        width: 220px;
        border: 3px solid c.$green;
        transition: 0.3s;
    }

    &__form-btn:hover {
        background-color: c.$white;
        color: c.$black;
    }

    &__form-btn:focus {
        animation: btnAnime 0.35s linear;
        animation-fill-mode: forwards;
    }



}




@keyframes btnAnime {
    from {
        background-image: radial-gradient(c.$green 70%, c.$white 30%);
        background-size: 0px 0px;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    to {
        background-image: radial-gradient(c.$green 70%, c.$white 30%);
        background-repeat: no-repeat;
        background-size: 500px 500px;
        background-position: 50%;
        color: c.$white;
    }
}





@media screen and (min-width: 296px) and (max-width: 500px) {}

@media screen and (min-width: 500px) and (max-width: 900px) {
    .dictionary-container {}

}

@media screen and (min-width: 1200px) {
    .dictionary-container {
        display: flex;
        flex-direction: column;
        width: 1200px;
        height: 700px;

        &__form {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px;
        }

        &__input-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 160px;
            grid-area: 1 / 1 / 2 / 2;
        }

        &__lang-input {
            margin-left: 20px;
        }

        &__text-input {
            width: 390px;
            height: 50px;
            border-radius: 20px;
            font-size: 22px;
            font-weight: bold;
            padding: 20px 20px;
        }

        &__output-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            height: 700px;
            grid-area: 1 / 2 / 3 / 3;
        }

        &__lang-output {
            margin-right: 20px;
        }

        &__translate-result {
            margin-top: 20px;
        }

        &__form-btn {
            grid-area: 2 / 1 / 4 / 2;
            margin-left: 20px;
        }

    }
}