<div class="dictionary-container">

    <form [formGroup]="form" class="dictionary-container__form nostyle-form" (ngSubmit)="formAction()">
        <div class="dictionary-container__form-content">
            <div class="dictionary-container__input-container">
                <lang-input formControlName="langInput" class="dictionary-container__lang-input" />
                <textarea formControlName="text" class="dictionary-container__text-input nostyle-textarea"></textarea>
            </div>

            <div class="dictionary-container__output-container">
                <lang-input formControlName="langOutput" class="dictionary-container__lang-output" />
                <ul class="dictionary-container__translate-result nostyle-list">

                </ul>
            </div>
        </div>
        <button #btn class="dictionary-container__form-btn nostyle-btn" type="submit" (click)="disableFocus(btn)">перевести</button>
    </form>

</div>