<div class="dictionary-container">



    <div class="dictionary-container__input-container">
        <div class="dictionary-container__input-menu">
            <input class="nostyle-input" type="text">
        </div>
        <textarea class="dictionary-container__text-input nostyle-textarea" name="" id=""></textarea>
    </div>


    <!-- <div class="dictionary-container__output-container">
        <div class="dictionary-container__output-menu">
            <input type="text">
        </div>
    </div> -->

</div>