@use "./styles/variables/variables.scss" as c;

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: c.$white;
    width: 100%;
    height: 100%;
}