<div class="word-card">
    <div class="word-card__translate-content">
        <header class="word-card__header">
            <p class="word-card__word-translate">{{data?.text}}</p>
            @if (data?.hasOwnProperty("ts")) {
            <p class="word-card__word-transcription">[{{data?.ts}}]</p>
            }
        </header>

        <div class="word-card__word-info">
            @if(data?.hasOwnProperty("mean")){
            <span class="word-card__word-mean">{{ data?.mean![0].text }}</span>
            }

            @if (wordTypes.hasOwnProperty(data?.pos!)) {
            <span class="word-card__word-type">{{ wordTypes[data?.pos!] }}</span>
            }
        </div>
    </div>
</div>