@forward "./app/styles/variables/variables.scss";
@import url("./app/styles/fonts/fonts.scss");
@import url("./app/styles/mixins/nostyle.scss");

html {
    width: 100%;
    height: 100%;
}

body {
    min-width: 100vh;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}