@forward "./app/styles/variables/variables.scss";
@use "./app/styles/variables/variables.scss" as c;
@import url("./app/styles/fonts/fonts.scss");
@import url("./app/styles/mixins/nostyle.scss");



html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: c.$white;
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
}